language: cpp
cache: ccache
sudo: false

env:
  global:
    - CCACHE_COMPRESS=1
    - CCACHE_CPP2=yes

matrix:
  include:
    - os: linux
      compiler: gcc
      env: DIST=ubuntu1604
      services: [docker]
      sudo: true
    - os: linux
      compiler: clang
      env: DIST=ubuntu1604
      services: [docker]
      sudo: true
    - os: linux
      compiler: gcc
      env: DIST=ubuntu1804
      services: [docker]
      sudo: true
    - os: linux
      compiler: clang
      env: DIST=ubuntu1804
      services: [docker]
      sudo: true
    - os: osx
      compiler: clang
    - os: osx
      compiler: gcc


before_script:
  - ./.travis/before_script.sh

script:
  - ./.travis/script.sh
